@charset "utf-8";

// colors
@red: #ea0732;
@grey: #ededed;

@light-blue: #6bb9c3;
@light-grey: #f2f2f2;
@light-green: #bfb;
@light-yellow: #ffedb2;


@link-color: #000;

@months-per-row = 12;

// misc
@width = 900px;

@defaultPadding = 20px;
@defaultMargin: 20px;
@defaultBorder = 1px;

@min-padding = 5px;

// Mixins
.Border(@border-width: 1px, @border-type: solid, @border-color: #999){
	-webkit-border: @border-width @border-type @border-color;
	   -moz-border: @border-width @border-type @border-color;
			border: @border-width @border-type @border-color;
}

.Shadow(){
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	
}

// Page Style

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 12px;
}

a{
	text-decoration: none;
	color: @link-color;
	&:hover{
		//background-color: @light-green !important;
		text-decoration: underline;
	}
}

#main{
	width: @width;
	margin: 0 auto;
	margin-top: @defaultMargin;
	
	.clear{
		clear: both;
	}
	.cal-head{
		font-size: 28px;
		font-weight: bold;
		color: #fff;
		margin-bottom: 0;
		background-color: @light-blue;
		text-align: center;
		padding: @defaultPadding/2;
	}
	.cal-month{
		float: left;		
		vertical-align: top;
		width: @width/@months-per-row;
		
		.cal-month-head{
			background-color: @light-blue;
			padding: @min-padding;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			
			span{
				font-weight: normal;
			}
		}

		.cal-day{
			display: block;
			padding: @min-padding;
			margin-bottom: 2px;
			/*
			margin-right: 1px;
			margin-left: 1px;
			*/
		}

		.wd{
			background-color: @light-grey;
			//color: @red;
		}
		
		.holiday{
			//background-color: @yellow;
			color: @red;
		}
		.event{
			background-color: @light-yellow;
		}
		.wd.event{
			background-color: mix(#ddd, @light-yellow);
		}
	}
	
	/*.placeholderDay{
		height: 26px;
	}
	.placeholderDay,*/
	
	.cal-event-overlay{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		
		.cal-event-overlay-bg{
			background-color: rgba(0,0,0,.5);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		
		.cal-event-overlay-inner{
			background-color: #fff;
			width: auto;
			max-width: 600px;
			position: relative;
			margin: 0 auto;
			top: 25%;
			
			
			padding: @defaultPadding;
			padding-bottom: 0;
			
			.Shadow;
			
			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
				
				li{
					padding: @defaultPadding @defaultPadding/2;
					padding-bottom: 0;
					//border-bottom: 1px solid #dfdfdf;
					position: relative
					
					&:first-child{
						padding-top: 0;
					}
					
					&:nth-last-child(-n+2){
						border: none;
					}
					
					&:hover{
						cursor: pointer;
					}
					
					&.bt{
						border-top: 1px solid #dfdfdf;
					}
					
					&.nb{
						border: none;
					}
					&:after{
						content: '';
						display: block;
						height: 1px;
						line-height: 0;
						background-color: #dfdfdf;
						margin-top: @defaultPadding;
					}
					
				}
				li:first-child{
					padding-top: 0;
				}
				.cal-event-overlay-list-date{
					/*display: inline-block;*/
					color: @light-blue;
					font-weight: bold;
					/*width: 200px;*/
				}
				.cal-event-overlay-list-title{
					text-transform: uppercase;
					display: block;
					padding-left: 200px;
					margin-top: -16px;
				}
				.cal-event-overlay-list-details{
					display: none;
					background-color: @grey;
					padding: @defaultPadding @defaultPadding+@defaultPadding/2;
					margin-left: -(@defaultPadding);
					margin-right: -(@defaultPadding);
					
					.cal-event-overlay-list-details-title{
						font-weight: bold;
						font-size: 18px;
						margin-bottom: @defaultMargin;
					}
					.cal-event-overlay-list-details-date,
					.cal-event-overlay-list-details-venue,
					.cal-event-overlay-list-details-admin,
					.cal-event-overlay-list-details-files{
						color: @light-blue;
						font-weight: bold;
						margin-bottom: @defaultMargin/2;
						span{
							display: block;
							color: #000;
							font-weight: normal;
						}
						p{
							margin: 0;
						}
					}
					.cal-event-overlay-list-details-files{
						div{
							display: inline-block;
						}
						.file-icon{
							display: inline-block;
							width: 18px;
							height: 25px;
							background-image: url('../../files/addons/addon_oeggh_veranstaltungen/img/icons/file.png');
							margin-right: 10px;
						}
						a{
							color: @light-blue;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 899px){
	@width: 100%;
	
	body{
		font-size: 11px;
		min-width: 330px+(@defaultPadding);
	}
	
	#main{
		width: @width;
		padding: @defaultPadding;
		.cal-month{
			display: block;
			
			width: @width;
			margin-bottom: @defaultMargin;
			
			.placeholderDay{
				background-color: #fff;
			}
			.placeholderDay,
			.cal-day{
				float: left !important;
				display: block;
				width: @width/7;
				height: 0px+(@width/2);
			}
		}
	}
}